*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}
table, td, th{
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}